/* paramètre */

body{
    background-color: #3c4ca6;
}

p{
    color: white;
    text-align: center;
    font-size: 13px;
}

@media only screen and  (max-width: 1200px){
    main{
        margin: 0 0 -100px 0;
    }
}


.soulignement{
    text-decoration: underline;
    color: white;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

/* Header */


/* Zone Affichage du peusdo en mode mobile uniquement */

.LogoPseudoMobile{
    position: absolute;
    right: 30px;
    margin: 57px 0 0 0;
}

.LogoMobile{
    width: 80px;
}

.PseudoMobile{
    position: absolute;
    margin: 15px 0 0 0;
}

/* END */

nav .brand-logo { /* Titre barre de l'application */
    font-size: 20px;
    color: white;
    margin-left: 30px;
    font-weight:bold;
}

@media only screen and  (min-width: 1200px) {
    nav .brand-logo { /* Titre barre de l'application */
        font-size: 25px;
        margin-left: 1%;
    }
}

nav .sidenav-trigger i{ /* icone hamburger de l'application */
    font-size: 40px;
}

/* ------------------------------------------------------- Footer ------------------------------------------------- */

.page-footer{
    background-color: #3c4ca6;
}

/* Lecteur de musique */

.Lecteur {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 370px;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-top: 160px;
    left: 50%;
}

@media only screen and  (min-width: 1000px) {
    .Lecteur {max-width: 800px;margin-top: 260px;}
}

.music-player {
    background-color: #fff;
    height: 600px;
    padding: 0 30px 0 30px;
    text-align: right;
    width: 100%;
    z-index: 3;
}

.Description-musique p{
    color: black;
    font-size: 25px;
}

.player-content-container {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}

/* Zone réglage du vinyl */

.record {
    position: relative;
    margin: 30px auto 50px auto;
    width: 200px;
    height: 200px;
    border-radius: 300px;
    background:
            radial-gradient(white 2%, #000000 2%, #000000 22%, black 22%, black 27%, transparent 27%, transparent 37%, black 37%,black 37.5%, transparent 37.5%, transparent 49%, black 49%, black 49.5%, transparent 49.5%,transparent 55%, black 56%, black 49.5%, transparent 49.5%, transparent 69%, black 69%),
            linear-gradient(35deg, black 35%, transparent 68%),
            linear-gradient(50deg, #e3e3e3 50%, transparent 60%),
            black;
}

/* Réglage du coeur */

.heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin: 0 auto;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
}

.heart:before, .heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 75px;
    width: 35px;
    height: 60px;
    background: #97d521;
    -moz-border-radius: 70px 70px 0 0;
    border-radius: 70px 70px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.heart:after {
    left: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}

/* END */

.music-player-controls {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

[class^="control-"] {
    -webkit-filter: brightness(95%);
    filter: brightness(95%);
    border-radius: 100%;
    display: inline-block;
    height: 44px;
    margin: 0 3px;
    width: 44px;
}
[class^="control-"]:hover {
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
    cursor: pointer;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.vinyl-fonction{
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}



button{ /* Suppression de la visibilité des boutons du DOM */
    display: none;
}

/* Temps de lecture */

input#seekslider{
    width:100px;
}

div#timebox{
    width:150px;
    border-radius: 5px;
    text-align:center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    padding: 5px;
    background-color: #18a599;
    z-index: 10;
}



/* end */

/* footer */

.tipeee{ /* Logo paiement tipeee */
    margin-top: -20px
}

.License{ /* License bas de page */
    font-size: 20px;
}

/* ---------------------------------------------------------- END ------------------------------------------------- */
