/* paramètre */

body{
    background-color: #3c4ca6;
}

/* ---------------------------------- Validation des contition de l'application ---------------------------------- */

.NoTouche{
    position: fixed;
    width: 200vh;
    height: 100vh;
    background-color: transparent;
}

.AcceptApps{
    position: fixed;
    border: 5px solid black;
    background-color: white;
    z-index: 500;
    margin: 0 auto;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 70px;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
}

.AcceptApps p{
    font-size: 20px;
    color: black;
}

@media only screen and  (max-width: 800px){

    .AcceptApps{
        color: white;
        width: 90%;
        margin-left: 5%;
        margin-top: 70px;
    }

    .AcceptApps p{
        font-size: 15px;
        color: black;
    }
}

/* ------------------------------------------------- END ----------------------------------------------------- */

p{
    color: white;
    text-align: center;
    font-size: 13px;
}

.soulignement{
    text-decoration: underline;
    color: white;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

/* Header */

nav .brand-logo { /* Titre barre de l'application */
    font-size: 20px;
    color: white;
    margin-left: 30px;
    font-weight:bold;
}

@media only screen and  (min-width: 1200px) {
    nav .brand-logo { /* Titre barre de l'application */
        font-size: 25px;
        margin-left: 1%;
    }
}

nav .sidenav-trigger i{ /* icone hamburger de l'application */
    font-size: 40px;
}

/* ------------------------------------------------- Page accueil ---------------------------------------------- */

/* Zone Affichage du peusdo en mode mobile uniquement */

.LogoPseudoMobile{
    position: absolute;
    right: 30px;
    margin: 57px 0 0 0;
}

.LogoMobile{
    width: 80px;
}

.PseudoMobile{
    position: absolute;
    margin: 15px 0 0 0;
}

/* END */

/* Main */

/* Présentation */

.Presentation{
    margin-top: 30px;
    max-height: 300px;
}

.logo-music{ /* Logo page 1 */
    margin-top: 25px;
    width: 50px;
}

.logo-Amour{ /* Logo page musiques amour*/
    margin-top: 0;
    width: 180px;
    transform: rotate(30deg); /* Équivalent à rotateZ(45deg) */
}

.text-amour p{
    font-size: 21px;
}

/* Section Amour */

.section1 {
    background: url(../img/main/section1.jpg) center center no-repeat;
    width: 100%;
    height: auto;
    background-size: 100%;
    font-weight: bold;
    cursor: pointer;
}

.section1 p{
    font-size: 22px;
    margin-left: 30px;
    margin-top: 40px;
}

.ajuste{ /* Placements des titres des sections */
    margin-top: 1px;
    margin-left: 20px;
}

.ajuste p{
    font-size: 31px;
}

/* Section Cyan */

.section2 {
    background: url(../img/main/section2.jpg);
    height: auto;
    background-size: 100%;
    font-weight: bold;
    cursor: pointer;
}

.section2 p{
    font-size: 22px;
    margin-left: 30px;
}

.ajuste{  /* Placements des titres des sections */
    margin-top: 1px;
    margin-left: 20px;
}

.ajuste p{
    font-size: 31px;
}

/* Section Énergisante */

.section3 {
    background: url(../img/main/section3.jpg);
    height: auto;
    background-size: 100%;
    font-weight: bold;
    cursor: pointer;
}

.section3 p{
    font-size: 22px;
    margin-left: 30px;
}

.ajuste{  /* Placements des titres des sections */
    margin-top: 1px;
    margin-left: 20px;
}

.ajuste p{
    font-size: 31px;
}

/* Section Nature */


.section4 {
    background: url(../img/main/section4.jpeg);
    height: auto;
    background-size: 100%;
    font-weight: bold;
    cursor: pointer;
}

.section4 p{
    font-size: 22px;
    margin-left: 30px;
}

.ajuste{  /* Placements des titres des sections */
    margin-top: 1px;
    margin-left: 20px;
}

.ajuste p{
    font-size: 31px;
}

/* Section Aventure */


.section5 {
    background: url(../img/main/section5.jpg);
    height: auto;
    background-size: 100%;
    font-weight: bold;
    cursor: pointer;
}

.section5 p{
    font-size: 22px;
    margin-left: 30px;
}

.ajuste{  /* Placements des titres des sections */
    margin-top: 1px;
    margin-left: 20px;
}

.ajuste p{
    font-size: 31px;
}


/* Section relaxante */

.section6 {
    background: url(../img/main/section6.jpg);
    height: auto;
    background-size: 100%;
    font-weight: bold;
    cursor: pointer;
}

.section6 p{
    font-size: 22px;
    margin-left: 30px;
}

.ajuste{  /* Placements des titres des sections */
    margin-top: 1px;
    margin-left: 20px;
}

.ajuste p{
    font-size: 31px;
}


/* Section Douce nuit */

.section7 {
    background: url(../img/main/section7.jpg);
    height: auto;
    background-size: 100%;
    font-weight: bold;
    cursor: pointer;
}

.section7 p{
    font-size: 22px;
    margin-left: 30px;
}

.ajuste{  /* Placements des titres des sections */
    margin-top: 1px;
    margin-left: 20px;
}

.ajuste p{
    font-size: 31px;
}

/*Page Installation de l'application*/

.sectionInstallation {
    background: url(../img/main/section5.jpg);
    height: 150px;
    background-size: 100%;
}


/* Responsive Tab + PC */

@media only screen and  (min-width: 1200px){ /* Gestion de la page D'accueil en mode Tablette et pc */

    .Presentation{
        margin-bottom: 50px;
    }

    .Presentation p{
        font-size: 20px;
    }

    .logo-music{ /* Logo page 1 */
        margin-top: 10px;
        width: 80px;
    }

    .section1, .section2, .section3, .section4, .section5, .section6, .section7{
        height: 300px;
        width: 98%;
        box-shadow: 1px 20px 35px rgba(0, 0, 0, 0.87);
        transition-duration: 0.5s;
    }

    .section1:hover, .section2:hover, .section3:hover, .section4:hover, .section5:hover, .section6:hover, .section7:hover{
        width: 100%;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    .section1 p, .section2 p, .section3 p, .section4 p, .section5 p, .section6 p, .section7 p{
        font-size: 51px;
    }

    .ajuste{
        margin-top: 50px;
    }

    .page-footer{
        font-size: 20px;
    }

    .page-footer.col .lg12 .s12{
        font-size: 20px;
    }

    .sectionInstallation {
        background: url(../img/main/section5.jpg);
        height: 450px;
        background-size: 100%;
    }


} /* END */


/* ------------------------------------------------------- Footer ------------------------------------------------- */

.page-footer{
        background-color: #3c4ca6;
}

/* -------------------------------------------------- Formulaires Apps -------------------------------------------- */

.wrapper { /* centrage du formulaire */
    max-width: 800px;
    margin: 50px auto 70px auto;
}

@media only screen and  (min-width: 1200px){
    .wrapper { /* centrage du formulaire */
        margin-top: 160px;
        margin-bottom: 150px;
    }
}

.form {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 30px 40px 50px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    min-height: 470px;
    border-radius: 5px 5px 10px 10px;
    position: relative;
}

.form .input-container { /* Espace d'inscription */
    padding: 30px 30px 0 30px;
    height: 350px;
}

.form .input-container2 { /* Espace de validation */
    padding: 30px 30px 0 30px;
    height: 335px;
}

.form .input-container2 { /* Espace de connexion */
    padding: 30px 30px 0 30px;
    height: 335px;
}

.form h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    color: #4c4c4c;
}

.login h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px !important;
    color: #4c4c4c;
}

.form p {
    text-transform: uppercase;
    text-align: center;
    color: #9e9e9e;
}

.form input {
    display: block;
    width: 100%;
    line-height: 28px;
    background-color: whitesmoke;
    padding: 7px 10px;
    margin-top: 20px;
    border-style: solid ;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a5a5a5;
    opacity: 1; /* Firefox */
    font-size: 16px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a5a5a5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #a5a5a5;
}

input[type="range"]:in-range {
    height: 10px;
    background: #c2c0c2;
    border: none;
    margin-bottom: 30px;
}

.btn-compte {
    width: 100%;
    height: 70px;
    bottom: -70px;
    border: 0;
    font-size: 18px;
    position: relative;
}

.btn-compte:focus, .btn-success:focus {
    color: white;
}


.login-btn {
    background-color: #17b3be;
    border-radius: 0 0 0 5px;
    color: white;
    transition: 0.5s;
}

.login-btn:hover {
    background-color: #018b94;
    color: white;
}

.avatar {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 6px;
    left: 2%;
}

button:focus {
    outline:0 ;
}

/* end */

/* footer */

.tipeee{ /* Logo paiement tipeee */
    margin-top: -20px
}

.License{ /* License bas de page */
    font-size: 20px;
}

/* ---------------------------------------------------------- END ------------------------------------------------- */







