/* paramètre */

body{
    background-color: #3c4ca6;
}

p{
    color: white;
    text-align: center;
}

.soulignement{
    text-decoration: underline;
    color: white;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

/* Header */

nav .brand-logo { /* Titre barre de l'application */
    font-size: 20px;
    color: white;
    margin-left: 30px;
    font-weight:bold;
}

@media only screen and  (min-width: 1200px) {
    nav .brand-logo { /* Titre barre de l'application */
        font-size: 25px;
        margin-left: 1%;
    }
}

nav .sidenav-trigger i{ /* icone hamburger de l'application */
    font-size: 40px;
}

/* ------------------------------------------------- MAIN ---------------------------------------------- */


/* Zone Affichage du peusdo en mode mobile uniquement */

.LogoPseudoMobile{
    position: absolute;
    right: 30px;
    margin: 57px 0 0 0;
}

.LogoMobile{
    width: 80px;
}

.PseudoMobile{
    position: absolute;
    margin: 15px 0 0 0;
}

/* END */

.section1 {
    background: url(../../img/main/section4.jpeg) center center no-repeat;
    width: 100%;
    height: auto;
    background-size: 100%;
    font-weight: bold;
}

.section1 p{
   font-size: 25px;
    padding: 50px;
}

@media only screen and  (min-width: 800px){
    .section1 p{
        font-size: 33px;
        padding: 50px;
    }

}


/* Main */

/* Présentation */

.Presentation{
    margin-top: 30px;
    max-height: 300px;
}

.logo-Amour{ /* Logo page musiques amour*/
    margin-top: 0;
    width: 80px;

}

.logo-meteo { /* Logo page musiques amour*/
   width: 80px;
}

.text-amour {
    font-size: 20px;
    margin: -10px 0 0 0;
}

/* Intéraction bouton*/

.Player{
    font-size: 40px;
    color: #97d521;
    background-color: white;
    border-radius: 50%;
    margin: 13px 0 0 0 ;
}

.Valide-icone{
    -webkit-animation-name: Change-Color;
    -webkit-animation-duration: 1s;
    animation-name: Change-Color;
    animation-duration: 1s;
    color: #97d521;
}

.Vue{
    color: #97d521;
}

.Votes{
    color: #97d521;
}



@keyframes Change-Color {
    0%   {color: rgba(151, 213, 33, 0.65)}
    25%  {color: rgba(151, 213, 33, 0.8)}
    50%  {color: rgba(151, 213, 33, 0.91)}
    100% {color: rgb(151, 213, 33)}
}

/* ------------------------------------------------------- Footer ------------------------------------------------- */
/* end */

/* footer */

.tipeee{ /* Logo paiement tipeee */
    margin-top: -20px
}

.License{ /* License bas de page */
    font-size: 20px;
}


.page-footer{
        background-color: #3c4ca6;
}

/* end */

/* ---------------------------------------------------------- END ------------------------------------------------- */
